/*
$color1: rgba(239, 100, 97, 1); red
$color2: rgba(232, 233, 235, 1); gray
$color3: rgba(254, 255, 254, 1); white
$color4: rgba(228, 179, 99, 1); yellow
$color5: rgba(25, 25, 25, 1); black
 */

body {
	font-family: 'Catamaran', sans-serif;
	background-color: rgba(232, 233, 235, 1);
}

#contentID {
	width: 100%;
}

#navigation {
	padding: 15px 0;
	background-color: rgba(228, 179, 99, 1);
}

#navigation h1{
	text-align: left;
	color: white;
	font-weight: 700;
	text-decoration: none;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 8px;
}

#navigation a {
	color: white;
	padding: 10px 20px;
}

#navigation h3 {
	margin-left: 0;
	margin-right: 0;
}

#navigation h3 a {
	border-radius: 6px;
	width: 200px;
}

#navigation h3 a:hover {
	text-decoration: underline;
	color: rgba(25,25,25,1);
	background-color: #bf9b60;
}

#navigation a.active-tab {
	background-color: #bf9b60;
}

#navigation div h3 {
	display: inline;
	margin: 10px 10px 10px 10px;
	padding: 5px;
	font-size: 20px;
	float: right;
	font-weight: 300;
}

#tab {
	margin: 0px;
	width:50px;
	height: 20px;
	background-color: black;
}

.help-text {
	font-size: x-small;
	font-style: italic;
	color: #ccc;
}

.content.col-md-6 {
	flex: 0 0 45%;
}

.content {
	border-radius: 6px;
	overflow: hidden;
	background-color: white;
	margin: 20px;
}

.content h2 {
	font-weight: 700;
	background-color: rgb(228, 179, 99);
	color: black;
	display: block;
	padding: 10px 0;
	margin: 0;
	font-size: 24px;
}

.index {
	font-size: 24px;
}

.row {
	text-align: center;
	margin: 0 15px;
	min-width: 900px
}

.row.pin{
	background-color: white;
	padding: 15px;
	border-radius: 6px;
}

.pin-col-photos {
	padding: 0;
}

.container {
	margin: auto;
	margin-top: 30px;
	padding: 0px;
	text-align: center;
}

.col-md-6 {
	padding: 0px;
}

#inspiration {
	overflow: auto;
	height: 520px;
	margin: 0;
}

#favorites {
	overflow: auto;
	height: 520px;
	margin: 0;
}

#pinned {
	overflow: auto;
	width: 1080px;
}
/*Albums Style*/

#newAlbum {
	border-radius: 6px;
	width: 200px;
	height: 200px;
	margin: 20px;
	display: block;
	background-color: white;
	padding: 3px;
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
	vertical-align:middle;
	text-align:center;
	-webkit-appearance:button;
	border-width:2px;
	border-style:outset;
	border-color:buttonface;
}

.album {
	border-radius: 6px;
	width: 200px;
	height: 200px;
	margin: 20px;
	display: block;
	background-color: white;
	padding: 3px;
	cursor: pointer;
}

.new-album {
	border-radius: 6px;
	width: 200px;
	height: 200px;
	margin: 20px;
	display: block;
	background-color: white;
	padding: 3px;
	cursor: pointer;
}

.album-text{
    display: block;
	text-align:center;
    vertical-align: center;
    margin: auto;
}

.upload {/*for the upload new album icon*/
	position: absolute;
	z-index: 50;
	width: 15%;
	height: 15%;
	top: 50%;
	left: 50%;
}
/*End Albums Style*/

.btn {
	background-color: rgba(239, 100, 97, 1);
	color: rgba(254, 255, 254, 1);
}

.col-md-6 {
	position: relative;
}

.photo {
	width: 200px;
	height: 200px;
	margin: 20px;
	display: block;
	padding: 3px;
	position: relative;
}

.photo img {
	z-index: 5;
	position: absolute;
	top: 0px;
	right: 0px;
}

.photo .faved {
	position: absolute;
	z-index: 50;
	width: 30px;
	height: 30px;
	top: 10px;
	right: 10px;
}

.photo .unheart {
	position: absolute;
	z-index: 50;
	width: 28px;
	height: 28px;
	top: 10px;
	right: 10px;
}

.pin .photo {
	margin: 0;
}

/*.heart {
	float: right;
	width: 20px;
	height: 20px;
}*/

.heart:focus, textarea:focus {
    outline: none;
}

.pinimage {
/*	float: left;*/
	width: 20px;
	height: 20px;
	margin-top: 3px;
	margin-right: 3px;
}
.pinimage:focus, textarea:focus {
    outline: none;
}
.filters {
	margin-top: 23px;
	text-align: center;
}

.description {
	text-align: left;
}

.title {
	font-weight: 700;
}

#searchheader {
  text-align: left;
  font-weight: bold;
  color: purple;
}

#searchform {
  text-align: left;
}

#searchform .col-md-11, #searchform .col-md-1 {
	padding: 0;
}

#searchgobutton {
	font-weight: bold;
	color: white;
	background-color: rgba(25, 25, 25, 1);
	max-height: 100%;
	margin: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	padding: 10px;
}

#searchform .bootstrap-tagsinput {
	width: 100%;
/*	border-top-right-radius: 0;
	border-bottom-right-radius: 0;*/
}

#searchform .bootstrap-tagsinput input {
	height: 100%;
}

.searchtitleholder {
 margin-top: -8px;
 margin-bottom: 32px;
}

.searchpinimage {
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top: 0px;
	margin-right: 3px;
}

.searchpinimage:focus, textarea:focus {
    outline: none;
}

.searchpintext {
	color: blue;
	top: -20px;
	position: relative;
}

#mapimage {
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#mapcontainer {
  display:inline-block;
  position:relative;
  width:100%;
}

#searchrow {
	margin-top: 20px;
}

.mappin{
  position:absolute;
  z-index:200;
  height: 32px;
  width: 32px;
}

.pin-div{
  position:absolute;
}

#directions {
	font-size: 20px;
	text-align: left;
}

.directionsRedirect {
	cursor: pointer;
}

.directionsRedirect:hover {
	color: #888;
}

img.directionsRedirect:hover {
	filter: drop-shadow(0px 0px 5px black);
}

.pin.pinimage {
	float: left;
}